{% extends 'base.html.twig' %}

{% block title %}Nouveaux centres de planification{% endblock %}

{% block body %}


    <div class="breadcrumbs">
        <div class="container"><h2>Les plans</h2>

            <div class="container aos-init aos-animate" data-aos="fade-up">
                <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header">

                                        </div>
                                        <tbody>
                                        <div class="container-fluid formPlanning">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    {% for key, planning_centre in planning_centres|batch(2) %}
                                                        <div class="row">
                                                            {% for item in planning_centre %}
                                                                <div class="col-lg-6">
                                                                    <table class="table table-striped">

                                                                        <tr>
                                                                            <th scope="row">Id</th>
                                                                            <td>{{ item.id }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Date de début de planning</th>
                                                                            <td>{{ item.DateDebutPlanning ? item.DateDebutPlanning|date('Y-m-d') : '' }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Date de fin de planning</th>
                                                                            <td>{{ item.DateFinPlanning ? item.DateFinPlanning|date('Y-m-d') : '' }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Description</th>
                                                                            <td>{{ item.Description }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Titre</th>
                                                                            <td>{{ item.Titre }}</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .formPlanning {
            margin-top: 75px;
            position: relative;
            width: 1300px;
            left:20px;
        }
        .title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
            color: #4daea7;
        }
    </style>

{% endblock %}
