{% extends 'base.html.twig' %}

{% block title %}Nouveaux centres de planification{% endblock %}

{% block body %}


  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ asset('Front/Plan/assets/img/favicon.png')}}" rel="icon">
  <link href="{{ asset('Front/Plan/assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('Front/Plan/assets/vendor/animate.css/animate.min.css')}}" rel="stylesheet">
  <link href="{{ asset('Front/Plan/assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{ asset('Front/Plan/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ asset('Front/Plan/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ asset('Front/Plan/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ asset('Front/Plan/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ asset('Front/Plan/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{ asset('Front/Plan/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('Front/Plan/assets/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Anyar - v4.10.0
  * Template URL: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->



  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
        </ol>
        <h2>Plan</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for item in planning_centres %}
            <article class="entry">

              <div class="entry-img">
                <img src="Front/Plan/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html"><th scope="row"></th>
                  <td>{{ item.Titre }}</td></a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i <span id="boot-icon" class="bi bi-clock" style="font-size: 1rem; color: rgb(0, 128, 55);"></span></i> <a href="blog-single.html"><th scope="row"></th>
                      <td>{{ item.DateDebutPlanning ? item.DateDebutPlanning|date('Y-m-d') : '' }}</td></a></li>
                  <li class="d-flex align-items-center"><i <span id="boot-icon" class="bi bi-clock" style="font-size: 1rem; color: rgb(255, 0, 0);"></span></i> <a href="blog-single.html"><th scope="row"></th>
                      <td>{{ item.DateFinPlanning ? item.DateFinPlanning|date('Y-m-d') : '' }}</td></a></li>

                </ul>
              </div>

              <div class="entry-content">
                <p>
                <th scope="row">Description</th>
                <td>{{ item.Description }}</td>
                </p>
                <div class="read-more">
                  <a href="/activitecentre/front">Activité</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            {% endfor %}







          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>


        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="{{ asset('Front/Plan/assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ asset('Front/Plan/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ asset('Front/Plan/assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ asset('Front/Plan/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ asset('Front/Plan/assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{ asset('Front/Plan/assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset('Front/Plan/assets/js/main.js')}}"></script>




{% endblock %}
